{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign collection = section.settings.collection
-%}

<div class="collection">
  <div class="collection__title">
    {%- if collection.title != blank -%}
      <h2 class="title">{{ collection.title | escape }}</h2>
    {%- endif -%}
  </div>
  
  
</div>
<div class="swiper">
    <div class="swiper-wrapper">
      {%- for product in collection.products limit: collection.count -%}
        <div class="swiper-slide">
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating
          %}
        </div>
      {%- endfor -%}
      <div class="swiper-slide last-slide">
        <a href="{{ section.settings.collection.url }}">View All {{ collection.title }}</a>
      </div>
    </div>
    {% comment %} Empty span elements in button divs needed for icons to appear {% endcomment %}
    <div class="swiper-button-prev slide-prev">
      <span></span> 
    </div>
    <div class="swiper-button-next slide-next">
      <span></span>
    </div>
  </div>

{% schema %}
{
  "name": "Product Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Product Slider"
    }
  ]
}
{% endschema %}
